<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
  <p>Create a new student <%= link_to 'Create a new student', new_student_path %>
</div>